# Local overrides for Makefile (copy to .env.local and edit). This file is ignored by git.
REGION=us-east-1
# Registry/repo (Docker Hub or ECR); example ECR below, or docker.io/youruser/subsmith
DOCKER_REPO=123456789012.dkr.ecr.${REGION}.amazonaws.com/subsmith
DOCKER_USER=
DOCKER_PASS=
HF_BUCKET=whisper-hf-cache-static
AUDIO_BUCKET=
CACHE_DIR=./hf-cache
PREFIX=
ASR_MODEL=large-v3-turbo
ASR_BATCH_SIZE=8
RUNTIME_INSTANCE_TYPE=g6.xlarge
EXTRA_SSH_CIDRS=["1.2.3.4/32","5.6.7.8/32"]
REMOTE_IP_HOSTS=""
PI_HOST=
PI_SRC=/home/pi/extracted_audio/
EC2_DEST=/home/ec2-user/audio/
GIT_REPO=https://github.com/youruser/subsmith.git
GIT_BRANCH=main
